.App {
  text-align: center;
}

.App-logo {
  height: 15vmin;
}


.centerpage {
  min-height: 100vh;
  padding: 0;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.errorMessage {
  color: red;
  font-family: "Open Sans", sans-serif;
}

html{
  scroll-behavior: smooth;
  overflow-y: hidden;
}
