.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}


.centerpage {
  min-height: 100vh;
  padding: 0;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}