.App {
  text-align: center;
}

.App-logo {
  height: 15vmin;
}


.centerpage {
  min-height: 100vh;
  padding: 0;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.errorMessage {
  color: red;
  font-family: "Open Sans", sans-serif;
}

html{
  scroll-behavior: smooth;
  overflow-y: hidden;
}

p { 
  color: #5e6488;
  font-size: 3.6rem; line-height: 1.25; letter-spacing: -.1rem; 
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

.hightlight { 
  color:#A1D4F0; 
  font-weight: 500;
}


